<div class="business-zone-fusion-of-biometrics">
    <div class="container">

        <div class="mb-64 mb-lg-94 heading-md business-zone-fusion-of-biometrics__description">
            <div class="business-zone-fusion-of-biometrics__description-inner">{{ acf.text }}</div>
        </div>

        <div class="mb-48 mb-lg-94 heading-xl business-zone-fusion-of-biometrics__heading">{{ acf.heading }}</div>

        <div class="business-zone-fusion-of-biometrics__items">
            {% for acf in acf.items %}
                <div class="business-zone-fusion-of-biometrics__item">
                    <div class="mb-24 business-zone-fusion-of-biometrics__icon-wrapper">
                        <img src="{{ acf.icon.url }}" alt="">
                    </div>
                    <div>
                        <div class="mb-12 heading-lg">{{ acf.heading }}</div>
                        <div>{{ acf.description }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="d-none d-lg-block business-zone-fusion-of-biometrics__diver">
                <div class="business-zone-fusion-of-biometrics__diver-icon-wrapper">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM15 11H11V15H9V11H5V9H9V5H11V9H15V11Z" fill="#00AD93"/>
                    </svg>
                </div>
            </div>
        </div>

    </div>
</div>
