<div class="countdown {{ class }}" data-js-countdown>

    <div class="countdown__row">
        <div class="heading-small countdown__title">{{ t.days|t }}</div>
        <div class="countdown__fields">
            <div class="countdown__field" data-js-day="1">0</div>
            <div class="countdown__field" data-js-day="2">0</div>
        </div>
    </div>

    <div class="countdown__row">
        <div class="heading-small countdown__title">{{ t.hours|t }}</div>
        <div class="countdown__fields">
            <div class="countdown__field" data-js-hour="1">0</div>
            <div class="countdown__field" data-js-hour="2">0</div>
        </div>
    </div>

    <div class="countdown__row">
        <div class="heading-small countdown__title">{{ t.minutes|t }}</div>
        <div class="countdown__fields">
            <div class="countdown__field" data-js-minute="1">0</div>
            <div class="countdown__field" data-js-minute="2">0</div>
        </div>
    </div>

    <div class="countdown__row">
        <div class="heading-small countdown__title">{{ t.seconds|t }}</div>
        <div class="countdown__fields">
            <div class="countdown__field" data-js-second="1">0</div>
            <div class="countdown__field" data-js-second="2">0</div>
        </div>
    </div>

</div>
