<div class="badges {{ class }}">
    <a href="{{ store.appleLink }}" target="_blank">
        <img class="badges__image {{ badgeClass }}" src="" data-src="{{ asset('icon/store/'~ translator.current ~'/appstore.svg') }}" alt="PayEye - app store" width="112px"
             height="38px">
    </a>
    <a href="{{ store.gogglePlayLink }}" target="_blank">
        <img class="badges__image {{ badgeClass }}" src="" data-src="{{ asset('icon/store/'~ translator.current ~'/google-play.svg') }}" alt="PayEye - google play" width="127px"
             height="38px">
    </a>
    <a href="{{ store.appGalleryLink }}" target="_blank">
        <img class="badges__image {{ badgeClass }}" src="" data-src="{{ asset('icon/store/'~ translator.current ~'/app-gallery.svg?ver=1') }}" alt="PayEye - app gallery" width="125px"
             height="38px">
    </a>
</div>
