<label class="input-checkbox {{ class }}" data-js-class-name="{{ class }}">
    <input type="checkbox" name="{{ name }}" value="{{ value }}" data-js-checkbox>
    <span class="input-checkbox__title {{ classTitle }}" data-js-class-title="{{ classTitle }}">{{ title }}</span>
</label>
