<div class="footer-flags {{ class }}">
    <img class="footer-flags__image-knf" src="" data-src="{{ asset('icon/footer/KNF.svg') }}" alt="PayEye - KNF">

    <a href="{{ store.theme.footer.donationPageUrl }}">
        <img class="footer-flags__image-poland" src="" alt="" data-src="{{ asset('icon/footer/'~ translator.current ~'/poland.svg') }}">
    </a>

    <a href="{{ store.theme.footer.donationPageUrl }}">
        <img class="footer-flags__image-finances" src="" data-src="{{ asset('icon/footer/'~ translator.current ~'/fundusz.svg') }}" alt="">
    </a>

    <a href="{{ store.theme.footer.donationPageUrl }}">
        <img class="footer-flags__image-eu" src="" data-src="{{ asset('icon/footer/'~ translator.current ~'/unia.svg') }}" alt="">
    </a>

    <a href="{{ store.theme.footer.isoCertPageUrl }}">
        <img class="footer-flags__image-iso" src="" data-src="{{ asset('icon/footer/'~ translator.current ~'/qscert-iso.svg') }}" alt="">
    </a>
</div>
